# On-the-spot AI 2

In [25]:
import os

import numpy as np
import pandas as pd
from scipy.optimize import least_squares as nlslm

In [26]:
sdi_orig = pd.read_csv(os.path.join('.','sdi.csv'))
sdi_orig.head()

  Class       Agent  Year        DET  DTC  Actual Sales
0   PPI    Prevacid  1996  43.880507  0.0      2.908294
1   PPI    Prilosec  1996  41.647961  0.0     14.723515
2  SSRI       Luvox  1996  22.366696  0.0      0.912018
3  SSRI       Paxil  1996  57.460824  0.0     11.267746
4  SSRI      Prozac  1996  84.533349  0.0     20.259977

In [19]:
sdi_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   class         207 non-null    object
 1   agent         207 non-null    object
 2   year          207 non-null    int64
 3   det           207 non-null    float64
 4   dtc           207 non-null    float64
 5   actual_sales  207 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 9.8+ KB

In [15]:
sdi_orig.columns = ['class','agent','year','det','dtc','actual_sales']
sdi_orig['class'] = sdi_orig['class' ].apply(lambda x: x.lower().strip())
sdi_orig['agent'] = sdi_orig['agent' ].apply(lambda x: x.lower().strip())
sdi_orig.head()

  class     agent  year        det  dtc  actual_sales
0   ppi  prevacid  1996  43.880507  0.0      2.908294
1   ppi  prilosec  1996  41.647961  0.0     14.723515
2  ssri     luvox  1996  22.366696  0.0      0.912018
3  ssri     paxil  1996  57.460824  0.0     11.267746
4  ssri    prozac  1996  84.533349  0.0     20.259977

In [24]:
BETA0 = 23.262224
ALPHA0 = -2.623877
ALPHA1 = 0.043302
ALPHA2 = 0.020962
def dr_cerens_cool_formula(
sdi = sdi_orig.copy()
sdi['ln_formula'] = sdi['actual_sales'] - \
  BETA0/(1 + np.exp(-(ALPHA0 + ALPHA1 * sdi['det'] + ALPHA2 * sdi['dtc'])))
sdi.head()

  class     agent  year        det  dtc  actual_sales  ln_formula
0   ppi  prevacid  1996  43.880507  0.0      2.908294   -4.688330
1   ppi  prilosec  1996  41.647961  0.0     14.723515    7.612930
2  ssri     luvox  1996  22.366696  0.0      0.912018   -2.818931
3  ssri     paxil  1996  57.460824  0.0     11.267746    0.424645
4  ssri    prozac  1996  84.533349  0.0     20.259977    3.088018

In [ ]:
linear_model = LinearModel()
# Actual Sales - BETA0/(1 + exp(-(ALPHA0 + ALPHA1 * DET * ALPHA2 * DTC)))
linear_model.fit(